{% extends 'base.html.twig' %}

{% block body %}
    <h1>Photosconsultation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ photosConsultation.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ photosConsultation.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ photosConsultation.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="{{ photos_consultation_directory }}/{{ photosConsultation.link }}" height="300" alt="{{ photosConsultation.link }}"> </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('consultation_edit', {'id': photosConsultation.consultation.id }) }}">Retour à la consultation</a>
        </li>
        <li>
            <a href="{{ path('photosconsultation_edit', { 'id': photosConsultation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
