{% extends 'baseTmpl.html.twig' %}

{% block body %}

<div style="width:80%;align:center">
    {% form_theme edit_form _self %}

    <h2 style="padding-top: 10px;">Editer le rappel</h2>


        <br />
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}

<br />

        {{ form_widget(edit_form.save, { 'label': 'Sauvegarder', 'class': 'btn btn-appoint'}) }}

        {{ form_end(edit_form) }}


<hr />
    <ul>
        <li>
            <a class="btn btn-appoint"  href="{{ path('reminder_index') }}">Retour à la liste des rappels</a>
        </li>

        <li>
            {{ form_start(delete_form) }}
                     <input type="submit" class="btn-del" onclick="return confirm('Voulez vous vraiment supprimer ce rappel ?')" value="Supprimer le rappel">
            {{ form_end(delete_form) }}
        </li>
    </ul>


    </div>
{% endblock %}
