{% extends 'baseTmpl.html.twig' %}

{% block body %}
    <h1>Liste des rappels</h1>

    <table>
        <thead cellspacing="30">
            <tr style="margin: 50px;">
                <th></th>
                <th>Creation</th>
                <th>Date du rappel </th>
                <th>Actif</th>
                <th>Media</th>
                <th>titre</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
        {% for reminder in reminders %}
            <tr>
<!--                <td><a href=" path('reminder_show', { 'id': reminder.id }) }}">reminder.id }}</a></td> !-->
                <td><ul class="list-inline"><a href=" {{ path('reminder_edit', { 'id': reminder.id }) }}"><i class="fa fa-pencil-square-o"></i></a></ul></td>
                <td>{% if reminder.created %}{{ reminder.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if reminder.updated %}{{ reminder.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if reminder.reminderDateTime %}{{ reminder.reminderDateTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if reminder.enabled %}Yes{% else %}No{% endif %}</td>
                <td>{{ reminder.media }}</td>
                <td>{{ reminder.title }}</td>
                <td>{{ reminder.note }}</td>
<!--                <td>
                    <ul>
                        <li>
                            <a href=" path('reminder_show', { 'id': reminder.id }) }}">show</a>
                        </li>
                        <li>
                            <a href=" path('reminder_edit', { 'id': reminder.id }) }}">edit</a>
                        </li>
                    </ul>
!-->
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
<!--            <a href="{{ path('reminder_new') }}">Create a new reminder</a> !-->
        </li>
    </ul>
{% endblock %}
