{% extends 'baseTmpl.html.twig' %}

{% block body %}
    <br />
<div style="width:900px;text-align:center;align-items: center">
    <h2>Consultations de {{ client.firstName }} {{ client.lastName }}</h2><br />
<p>
    {{ client.address }}&nbsp;{{ client.cP }} - {{ client.city }} <br />
    Tel: {{ client.phone }} Mail: {{ client.eMail }}
</p>
<p>
    <ul>

    {% for animal in client.animals %}
        {% if animal.isAlive %}
        <li>- {{ animal.name }} ({{ animal.species }} - Naissance {{ animal.year }}) </li>
        {% endif %}
    {% endfor %}
    </ul>
</p>
    <br />
    <ul>
    {% for consultation in consultations %}
        {%  if consultation.debtValueForThisConsultation > 0 %}
         <a>
             <a href="{{ path('consultation_edit', { 'id': consultation.id }) }}"><i class="fa fa-exclamation-triangle"></i>
             La consultation du {{ consultation.dateOfConsultation|date('Y-m-d') }}</a> &eacute;tait en dette de {{ consultation.debtValueForThisConsultation }}  EUR
         </li>
         <br />
        {% endif %}
    {%  endfor %}
    </ul>
    <hr />

    {% for consultation in consultations %}
    <h3>{{ consultation.created|date('d/m/Y')  }}&nbsp;-&nbsp;{{ consultation.titre|e }}</h3>
        <p>
            {{ consultation.notes|e }}
        </p>
        <p>
        {%  for photo in consultation.photosConsultation %}
            <a class="image-link" href="{{ photos_consultation_directory }}/{{ photo.link }}" data-lightbox="{{ consultation.created|date('d/m/Y')  }}&nbsp;-&nbsp;{{ consultation.titre|e }}">
                <img class="example-image" src="{{ photos_consultation_directory }}/{{ photo.link }}" alt="{{ photo.link }}" height="130"/></a>
        {% endfor %}
        </p>
        <a href="{{ path('consultation_edit', {'id': consultation.id}) }}" class="btn btn-appoint"><i class="fa fa-pencil-square-o"></i>&nbsp;Editer cette consultation</a>
        <br /><br />

    {% else %}
    <h3>Il n'y a pas de consultation enregistrée pour ce client.</h3>
    {% endfor %}


<hr />
    <ul>
        <li>
            <a href="{{ path('client_index') }}" class="btn btn-appoint"><i class="fa fa-arrow-left"></i>&nbsp;Retour à la liste des patients</a>
        </li>

        <li>
            <a href="{{ path('consultation_new', {'client': client.id}) }}" class="btn btn-appoint"><i class="fa fa-plus-circle"></i>&nbsp;Nouvelle Consultation</a>
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Nouvelle Consultation">#}
            {#{{ form_end(delete_form) }}#}
        </li>
    </ul>
</div>
{% endblock %}
