{% extends 'base.html.twig' %}

{% block body %}
    <br />
<div style="width:900px;text-align:center;align-items: center">
    <h2>Consultations de {{ client.firstName }} {{ client.lastName }}</h2>
<p>
    {{ client.address }}&nbsp;{{ client.cP }} - {{ client.city }} <br />
    Tel: {{ client.phone }} Mail: {{ client.eMail }}
</p>
    <hr />

    {% for consultation in consultations %}
    <h3>{{ consultation.created|date('d/m/Y')  }}&nbsp;-&nbsp;{{ consultation.titre|e }}</h3>
        <p>
            {{ consultation.notes|e }}
        </p>
        <p>
        {%  for photo in consultation.photosConsultation %}
            <a class="image-link" href="{{ photos_consultation_directory }}/{{ photo.link }}" data-lightbox="{{ consultation.created|date('d/m/Y')  }}&nbsp;-&nbsp;{{ consultation.titre|e }}"><img class="example-image" src="{{ photos_consultation_directory }}/{{ photo.link }}" alt="{{ photo.link }}" height="130"/></a>
        {% endfor %}
        </p>
        <a href="{{ path('consultation_edit', {'id': consultation.id}) }}">Editer cette consultation</a>
        <br /><br />

    {% else %}
    <h3>Il n'y a pas de consultation enregistrée pour ce client.</h3>
    {% endfor %}



    <ul>
        <li>
            <a href="{{ path('client_index') }}">Retour à la liste des patients</a>
        </li>

        <li>
            <a href="{{ path('consultation_new', {'client': client.id}) }}">Nouvelle Consultation</a>
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Nouvelle Consultation">#}
            {#{{ form_end(delete_form) }}#}
        </li>
    </ul>
</div>
{% endblock %}
