{% extends 'base.html.twig' %}

{% block body %}
<br />
<div style="width:600px;align:center">
    <h1>Client</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if client.created %}{{ client.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if client.updated %}{{ client.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ client.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ client.lastName }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ client.address }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ client.cP }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ client.city }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ client.phone }}</td>
            </tr>
            <tr>
                <th>Phone2</th>
                <td>{{ client.phone2 }}</td>
            </tr>
            <tr>
                <th>Nationalnumber</th>
                <td>{{ client.nationalNumber }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.eMail }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Animaux</h2>

    <table>
        <tbody>

    {% for animal in client.animals %}
        <h4>{{ animal.name  }}&nbsp;-&nbsp;({{ animal.species }} - {% if animal.isAlive == false %} <span style="color:red; "><B> D&eacute;c&eacute;d&eacute;</B></span>{% else %} Naissance: {{ animal.year }} {% endif %} )</h4>
        <h5>Notes</h5>
        <p>
            {{ animal.notes|e }}
        </p>
        <h5>Vaccination</h5>
        <p>
            {{ animal.vaccination|e }}
        </p>

        <!-- <a href="{{ path('consultation_edit', {'id': client.id}) }}">Editer cette consultation</a> !-->
        <br /><br />

    {% else %}
        <h3>Il n'y a pas d'animaux enregistrés pour ce client.</h3>
    {% endfor %}

    <ul>
        <li>
            <a href="{{ path('client_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('client_edit', { 'id': client.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
