{% extends 'baseTmpl.html.twig' %}

{% block body %}


    <h2 align="center">Détails de la fiche de {{ client.firstName }} {{ client.lastName }}</h2>
    <br />
    <div class="container">
        <div class="row">
                <div class="col-md-8" style="background-color: #0CB8B6;">
                    <div class="mt-boxy-color"></div>
                    <div class="medi-info">
                        <h3 align="center">Client</h3>




<!--                <div style="width:80%;align:center">

    <h1 align="center">Client</h1>!-->

    <table align="center">
        <tbody align="center">
            <tr>
                <th>Date de cr&eacute;ation</th>
                <td>{% if client.created %}{{ client.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date de modification</th>
                <td>{% if client.updated %}{{ client.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Pr&eacute;nom</th>
                <td>{{ client.firstName }}</td>
            </tr>
            <tr>
                <th>Nom de famille</th>
                <td>{{ client.lastName }}</td>
            </tr>
            <tr>
                <th>Addresse</th>
                <td>{{ client.address }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ client.cP }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ client.city }}</td>
            </tr>
            <tr>
                <th>T&eacute;l&eacute;phone 1</th>
                <td>{{ client.phone }}</td>
            </tr>
            <tr>
                <th>T&eacute;l&eacute;phone 2</th>
                <td>{{ client.phone2 }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.eMail }}</td>
            </tr>
        </tbody>
    </table>
                    </div>
                </div>



<div class="col-md-4" style="background-color: #0CB8B6;">
    <div class="mt-boxy-color"></div>
    <div class="medi-info">
        <h3 align="center">Animaux</h3>

        {% for animal in client.animals %}
            <h4 align="center">{{ animal.name  }}&nbsp;-&nbsp;{{ animal.species }} </h4>
            <h4 align="center"> {% if animal.isAlive == false %} <span style="color:red; "><B> D&eacute;c&eacute;d&eacute;</B></span>{% else %} Naissance: {{ animal.year }} {% endif %}</h4>
            <h5 align="center">Notes</h5>
            <p align="center">
                {{ animal.notes|e }}
            </p>
            <h5 align="center">Vaccination</h5>
            <p align="center">
                {{ animal.vaccination|e }}
            </p>
            <hr>

            <!-- <a href="{{ path('consultation_edit', {'id': client.id}) }}">Editer cette consultation</a> !-->

        {% else %}
            <h4>Il n'y a pas d'animaux enregistrés pour ce client.</h4>
        {% endfor %}
    </div>
    </div>
    </div>
</div>
            </div>
</section>
    <ul>
        <li>
            <a href="{{ path('client_index') }}" class="btn btn-appoint"><i class="fa fa-arrow-left"></i>&nbsp&nbsp;Retour à la liste des clients</a>
        </li>
        <li>
            <a class="btn btn-appoint" href="{{ path('client_consultations', { 'id': client.id }) }}">Liste des consultations du client</a>
        </li>
        <li>
            <a href="{{ path('client_edit', { 'id': client.id }) }}" class="btn btn-appoint"><i class="fa fa-pencil-square-o"></i>&nbsp;Editer le client et les animaux</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
<!--                <input type="submit" value="Supprimer le client" class="btn btn-del"> !-->
            {{ form_end(delete_form) }}
        </li>
    </ul>

    </div>
</div>



{% endblock %}
