{% extends 'base.html.twig' %}

{% block body %}
    <h1>Consultation edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('consultation_index') }}">Retour à la liste des consultations</a>
        </li>
        <li>
            <a href="{{ path('consultation_index') }}">Ajouter une photo</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
