<div>
<!-- customize as you wish -->

    {{ form_widget(edit_form.photosConsultation.vars.prototype)|e }}

    {{ form_widget(form) }}qqq
{{ form_row(form.titre) }}
{{ form_row(form.description) }}
{{ form_row(form.file) }}
<a class="remove-photo" href="#">Supprimer cette photo</a>
</div>